<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Temperatura - {{ finca }}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>

    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Valor Actual</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <iframe [src]="urlSafeInicio" width="450" height="200" frameborder="0"></iframe>
                </div>
            </div>


        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Tiempo</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-success" id="dropdownBasic2" ngbDropdownToggle>
                            Seleccione un tiempo
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <button ngbDropdownItem *ngFor="let tiempo of tiempos; index as i;"
                                (click)="clickTiempo(tiempo)">{{ tiempo }}</button>

                        </div>
                    </div>

                    <div>
                        <hr>
                        <p>
                            Tiempo Seleccionado: <em> {{ tiempoSeleccionado }} </em>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Registro Histórico</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <iframe [src]="urlSafeHistorico" width="100%" height="30%" frameborder="0"></iframe>
                </div>
            </div>


        </div>

    </div>

</div>
