<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" 
        [routerLink]="['/home']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Detalles
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            (click)="$event.preventDefault();collapse.toggle()" 
            [attr.aria-expanded]="!isCollapsed"
            data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Temperatura</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar"
        #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sensores:</h6>
                <a class="collapse-item" 
                [routerLink]="['/home',{outlets:{'home': 'temperatura'}}]" routerLinkActive="active"
                *ngFor="let sensor of sensores; index as i;"
                (click)="toDetails(sensor)">{{sensor}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            (click)="$event.preventDefault();collapse2.toggle()" 
            [attr.aria-expanded]="!isCollapsed2"
            data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Nivel de PH</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar"
            #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sensores:</h6>
                <a class="collapse-item" 
                [routerLink]="['/home',{outlets:{'home': 'ph'}}]" routerLinkActive="active" 
                *ngFor="let sensor of sensores; index as i;"
                (click)="toDetails(sensor)">{{sensor}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            (click)="$event.preventDefault();collapse3.toggle();" 
            [attr.aria-expanded]="!isCollapsed3"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Precipitacion</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" 
            #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sensores:</h6>
                <a class="collapse-item" 
                [routerLink]="['/home',{outlets:{'home': 'precipitacion'}}]" routerLinkActive="active"
                *ngFor="let sensor of sensores; index as i;"
                (click)="toDetails(sensor)">{{sensor}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            (click)="$event.preventDefault();collapse4.toggle();" 
            [attr.aria-expanded]="!isCollapsed4"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Humedad</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" 
            #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sensores:</h6>
                <a class="collapse-item" 
                [routerLink]="['/home',{outlets:{'home': 'humedad'}}]" routerLinkActive="active"
                *ngFor="let sensor of sensores; index as i;"
                (click)="toDetails(sensor)">{{sensor}}</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->