<!-- Sidebar -->
<ul class="navbar-nav bg-success sidebar sidebar-dark accordion" id="accordionSidebar" height="100%">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            Bienvenido 
            {{ username }}
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0 text-white">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" 
        [routerLink]="['/dashboard/home']" routerLinkActive="active">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider text-white">

    <!-- Heading -->
    <div class="sidebar-heading text-white">
        Detalles
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            (click)="$event.preventDefault();collapse.toggle()" 
            [attr.aria-expanded]="!isCollapsed"
            data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-thermometer-half"></i>
            <span>Temperatura</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar"
        #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fincas:</h6>
                <a class="collapse-item" 
                *ngFor="let finca of fincas; index as i;"
                [routerLink]="['/dashboard/home',{outlets:{'home': ['temperatura',cultivo,finca]}}]" routerLinkActive="active"
                >{{finca}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            (click)="$event.preventDefault();collapse2.toggle()" 
            [attr.aria-expanded]="!isCollapsed2"
            data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="wi wi-fw wi-barometer"></i>
            <span>Lluvia</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar"
            #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fincas:</h6>
                <a class="collapse-item" 
                *ngFor="let finca of fincas; index as i;"
                [routerLink]="['/dashboard/home',{outlets:{'home': ['precipitacion',cultivo,finca]}}]" routerLinkActive="active" 
                >{{finca}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            (click)="$event.preventDefault();collapse3.toggle();" 
            [attr.aria-expanded]="!isCollapsed3"
            aria-controls="collapsePages">
            <i class="wi wi-fw wi-humidity"></i>
            <span>Humedad</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" 
            #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fincas:</h6>
                <a class="collapse-item" 
                *ngFor="let finca of fincas; index as i;"
                [routerLink]="['/dashboard/home',{outlets:{'home': ['humedad',cultivo,finca]}}]" routerLinkActive="active"
                >{{finca}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
            data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            (click)="$event.preventDefault();collapse4.toggle();" 
            [attr.aria-expanded]="!isCollapsed4"
            aria-controls="collapsePages">
            <i class="fa fa-sun" aria-hidden="true"></i>
            <span>Radiación Solar</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" 
            #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Fincas:</h6>
                <a class="collapse-item"
                *ngFor="let finca of fincas; index as i;" 
                [routerLink]="['/dashboard/home',{outlets:{'home': ['uv',cultivo,finca]}}]" routerLinkActive="active"
                >{{finca}}</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block text-white">

    <li class="nav-item">
        <a class="nav-link" 
        [routerLink]="['/dashboard/home',{outlets:{'home': ['sensores']}}]" routerLinkActive="active">
            <i class="fa fa-sun" aria-hidden="true"></i>
            <span>Configuración de Sensores</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block text-white">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <div class="sidebar-brand-text text-white mx-3">
            Seleccione otro cultivo
            <p></p>
            <p></p>
            <p></p>
        </div>
        <button class="rounded-circle border-0" id="sidebarToggle"
        (click)="goBack()"></button>
    </div>

</ul>
<!-- End of Sidebar -->
